body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px;
    padding-right: 30px;
}

a {
    padding: 5px;
}

a {
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none;
}

a:hover {
    color: rgba(0, 0, 0, 0.87);
    text-decoration: underline;
}

main {
    width: 100%;
}

main img {
    max-width: 100%;
    display: block;
    height: auto;
}

.google-apps {
    font-size: 13px;
    white-space: nowrap;
    line-height: normal;
    text-align: left;
    font-family: arial, sans-serif;
    display: inline-block;
    outline: none;
    vertical-align: middle;
    border-radius: 2px;
    box-sizing: border-box;
    height: 30px;
    width: 30px;
    background-image: url('//ssl.gstatic.com/gb/images/i1_1967ca6a.png');
    background-size: 528px 68px;
    background-position: -132px -38px;
    opacity: .55;
    color: #000;
    cursor: pointer;
    text-decoration: none;
}

main input {
    width: 30vw;
    min-width: 300px;
    height: 20px;
    padding: 5px;
}

main input,
main button,
main p {
    margin: 10px;
}

footer {
    background-color: #f2f2f2;
    border-top: solid rgba(0, 0, 0, 0.15) 1px;
}

footer p {
    color: rgba(0, 0, 0, 0.87);
    padding: 15px;
}

footer .bottom-footer {
    border-top: solid rgba(0, 0, 0, 0.15) 1px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}